/* GENERAL */
html{
    background-color: #303030;
}
.bordered
{
    border-radius: 4px;
    border: 1px solid grey;
}
/* HEADER */
.header{
    display:flex;
    align-items:center;
    justify-content: center;
    flex:1 0 auto;
    margin: auto;
    padding: 0px;
    width: 90%;
    height:90px;
    background-color: #AA0000;
    margin: 15px auto;
}
.header-bar h1{
    margin:0px;
    padding:0px;
    color:#fff;
    font-size: 30px;
    display: block;
}
.header-img img{
    max-width: 30px;
}
/* STATUS */
.status-bar{
    grid-area: status;
    grid-column: col-start / col-end;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:90%;
    margin:15px auto;
    padding: 0;
    background-color: #AA0000;
}
.status-item{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    background-color:#AA0000;
    width:20%;
}
.status-title{
    display: inline-flex;
    height:40px;
    h2{
        display: inline-block;
        margin:auto;
        color:#fff;
    }
}
.status-img{
    display: inline-flex;
    align-items:center;
    margin: auto;
    padding: auto;
    img{
        max-width:40px;
        margin:auto;
        padding:auto;
    }
}
.status-card{
    display: inline-flex;
    align-items: center;
}
/* GUI */
.gui-button{
    background-color: #AA0000;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size:1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    margin:auto;
    padding: 4px 15px;
    /* max-width: 80%; */
}
.gui-button:hover{
    background-color: #AA0000;
    font-family: 'Times New Roman', Times, serif;
    font-size:1.5em;
}

.gui-title{
    color: #fff;
    background-color:#AA0000 ;
    margin:0;
    width:100%;
    height:100%;
}
.gui-link {
    width:100%;
    height:100%;
    text-decoration: none;
    color:#fff;
    background-color: #AA0000;
    font-size: 1.5em;
    padding: none;
    margin:auto;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 0px;
    margin:auto 0px;
    padding:auto 0px;
}
.gui-cam img{
    max-width: 100%;
    height: auto;
    border-radius: 0px;
    margin:auto 0px;
    padding:auto 0px;
}
.gui-text{
    text-align: center;
    color : #fff;
    margin:0;
    background-color: #AA0000;
}
.gui-text p{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}
/* SENSORS */
.sensors{
    display: grid;
    grid-template:
    "gps-table velocity-table imu-table links" 1fr
    / [col-start] 2fr [col-2] 2fr [col-3] 2fr [col-4] 1fr [col-end];
    grid-gap: 0.5em;
    width:90%;
    margin: auto;
}
.sensor-table-2{
    display:grid;
    grid-template:
    "empty title1 title2" 1fr
    "row-title data1 data2" 1fr
    / [col-start] 1fr [col-2] 1fr [col-3] 1fr [col-end];
    grid-gap: 0.2em;
}
.sensor-table-3{
    display:grid;
    grid-template:
    "empty title1 title2 title3" 1fr
    "row-title data1 data2 data3" 1fr
    / [col-start] 1fr [col-2] 1fr [col-3] 1fr [col-4] 1fr [col-end];
    grid-gap: 0.2em;
}

.empty-cell{
    background-color: #AA0000;
}
.table-title{
    display: inline-flex;
    align-items: center;
    background-color: #AA0000;
    p{
        text-align: center;
        color:#fff;
        font-family: 'Times New Roman', Times, serif;
        padding:0;
        margin:auto;
    }
}
.row-title{
    display: inline-flex;
    align-items: center;
    background-color: #AA0000;
    p{
        text-align: center;
        color:#fff;
        font-family: 'Times New Roman', Times, serif;
        padding:0;
        margin:auto;
        font-size: 20px;
        font-weight: bold;
    }
}
.table-cell{
    background-color: #fff;
    p{
        text-align: center;
        font-family: 'Times New Roman', Times, serif
    }
}
.table-title p{
    font-size: 20px;
    font-weight: bold;
}
/* Links */
.links{
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    place-items:center;
}

/* WOUNDED CARD */
.wounded-gallery{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width:90%;
    grid-gap:0.4em;
    margin: 15px auto;;

    padding:0;
}
.wounded-card{
    display:grid;
    grid-template:
    "time" 20px
    "img" auto
    "gps" 20px
    "rescue" 20px
    / [col-start] 1fr [col-end];
    width: 90%;
    margin:auto;
    width:400px;
}
.wounded-img{
    grid-area: img;
    max-width: 100%;
    height: auto;
    border-radius: 0px;
    margin:auto;
    padding:0;
}
.wounded-gps{
    display:grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-area: gps;
    grid-gap: 0.2em;
    background-color: grey;
}
.card-button{
    button{
        text-align: center;
        text-decoration: none;
        border-top: none;
        border-radius: 4px;
        margin:0;
        width: 100%;
        height: 100%;
        background-color: #AA0000;
        color:#fff;
        p{
            margin:0;
            padding:0;
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
        }
    }
    grid-area: rescue;

}
#time-text{
    grid-area:time;
}

@media only screen and (max-width:1000px){
    .status-bar{
        grid-area:status;
        flex-direction: column;
        margin:15px auto;
    }
    .status-item{
        width:100%;
        height:20%;
    }
}